<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-sm-3 form-group">
          <label for="deadline">Deadline</label>
          <input type="date" id="deadline" class="form-control" name="deadline" ngModel required>
        </div>
        <div class="col-sm-3 form-check">
          <label for="status">Status</label>
          <select id="status" class="form-control" name="status" ngModel>
            <option [value]="false">Incomplete</option>
            <option [value]="true">Complete</option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="dependentItem">Dependent Item</label>
          <select id="dependentItem" class="form-control" name="dependentItem" ngModel>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editItem ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="deleteItem()" *ngIf="editItem">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="!editItem && !form.value.name">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <p *ngIf="items == undefined">Please select a TO-DO List!</p>
  <p *ngIf="items && items.length == 0">Selected TO-DO List doesn't have any items!</p>
  <app-todo-item [ngStyle]="{ 'background' : (editItem === itemEl) ? ' #d35400' : 'white', display: 'block'}"
    *ngFor="let itemEl of items" 
    [item]="itemEl" (click)="onEditItem(itemEl)"></app-todo-item>
</div>

