<div class="row">
  <div class="col-sm-12"><form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-2 form-group">
            <label for="name">Name</label> 
            <input type="text" class="form-control" id="name" name="name" 
              [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required/>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback alert alert-danger">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
          <label for="deadline">Deadline</label>
          <input type="date" class="form-control" id="deadline" name="deadline" 
            [(ngModel)]="model.deadline" #deadline="ngModel" [ngClass]="{ 'is-invalid': f.submitted && deadline.invalid }" required/>
          <div *ngIf="f.submitted && deadline.invalid" class="invalid-feedback alert alert-danger">
            <div *ngIf="deadline.errors.required">Deadline is required</div>
          </div>
        </div>
        <div class="col-sm-3 form-group">
            <label for="description">Description</label> 
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="model.description" #description="ngModel" />
        </div>
        <div class="col-sm-1 form-group">
          <label for="status">Status</label>
          <input type="checkbox" class="form-check-input" id="status" name="status" [(ngModel)]="model.status" #status="ngModel" >
        </div>
        <div class="col-sm-3 form-group">
          <label for="dependentItemId">Dependent Item</label>
          <select class="form-control" id="dependentItemId" name="dependentItemId" #dependentItemId="ngModel" 
            [(ngModel)]="model.dependentItemId" #status="ngModel" [disabled]="!dependentItems || dependentItems.length == 0">
            <option [value]="0">Independent</option> 
            <option *ngFor="let item of dependentItems; let i = index" [value]=item.id>{{ item.name }}</option> 
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!task">{{ editItem ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="deleteItem()" *ngIf="editItem" [disabled]="!task">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="!editItem && !form.value.name" [disabled]="!task">Clear</button>
          <button class="btn btn-secondary" type="button" (click)="onSearch()" >Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
      <p *ngIf="model.addSuccessMessage" class="alert alert-success">TODO Item {{ model.addSuccessMessage }} added successfully</p>
      <p *ngIf="model.updateSuccessMessage" class="alert alert-success">TODO Item {{ model.updateSuccessMessage }} updated successfully</p>
      <p *ngIf="model.deleteSuccessMessage" class="alert alert-success">TODO Item {{ model.deleteSuccessMessage }} deleted successfully</p>
      <p *ngIf="model.addErrorMessage" class="alert alert-danger">Error occurred during adding TODO Item {{ model.addErrorMessage }}</p>
      <p *ngIf="model.updateErrorMessage" class="alert alert-danger">Error occurred during updating TODO Item {{ model.updateErrorMessage }}</p>
      <p *ngIf="model.deleteErrorMessage" class="alert alert-danger">Error occurred during deleting TODO Item {{ model.deleteErrorMessage }}</p>
      <p *ngIf="model.updateStatusMessage" class="alert alert-danger">{{ model.updateStatusMessage }}</p>
  </div>
</div>
<div class="row">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">
          <a href="#" class="list-group-item" (click)="onColumnClick('name')">Name
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="glyphicon glyphicon-arrow-down"></span>
          </a>
        </th>
        <th scope="col">
          <a href="#" class="list-group-item" (click)="onColumnClick('deadline')">Deadline
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th scope="col">
          <a href="#" class="list-group-item" (click)="onColumnClick('description')">Description
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th scope="col">
          <a href="#" class="list-group-item" (click)="onColumnClick('status')">Status
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th scope="col">
          <a href="#" class="list-group-item" (click)="onColumnClick('dependentItem')">Dependent Item
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemEl of items" class="text-center" (click)="onEditItem(itemEl)" [ngStyle]="{ 'background' : (editItem === itemEl) ? ' #d35400' : 'white'}">
          <td>{{ itemEl.name }}</td>
          <td>{{ itemEl.deadline |  date: 'dd.MM.yyyy' }}</td>
          <td>{{ itemEl.description }}</td>
          <td>
            <span *ngIf="itemEl.status" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="!itemEl.status" class="glyphicon glyphicon-remove"></span>
          </td>
          <td>{{ itemEl.dependentItemId }}</td>
        </tr>
      </tbody>
    </table>
</div>

