<div class="row">
  <div class="col-xs-12"><form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-3 form-group">
            <label for="name">Name</label> 
            <input type="text" class="form-control" id="name" name="name" 
              [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required/>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback alert alert-danger">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
          <label for="deadline">Deadline</label>
          <input type="date" class="form-control" id="deadline" name="deadline" 
            [(ngModel)]="model.deadline" #deadline="ngModel" [ngClass]="{ 'is-invalid': f.submitted && deadline.invalid }" required/>
          <div *ngIf="f.submitted && deadline.invalid" class="invalid-feedback alert alert-danger">
            <div *ngIf="deadline.errors.required">Deadline is required</div>
          </div>
        </div>
        <div class="col-sm-3 form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" name="status" [(ngModel)]="model.status" #status="ngModel">
            <option [value]="false">Incomplete</option>
            <option [value]="true">Complete</option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="dependentItemId">Dependent Item</label>
          <select class="form-control" id="dependentItemId" name="dependentItemId" #dependentItemId="ngModel" 
            [(ngModel)]="model.dependentItemId" #status="ngModel" [disabled]="!dependentItems || dependentItems.length == 0">
            <option *ngFor="let item of dependentItems; let i = index" [value]=item.id>{{ item.name }}</option> 
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!task">{{ editItem ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="deleteItem()" *ngIf="editItem" [disabled]="!task">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="!editItem && !form.value.name" [disabled]="!task">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <p *ngIf="!model.addSuccessMessage && !model.updateSuccessMessage && !model.deleteSuccessMessage 
      && !model.addErrorMessage && !model.updateErrorMessage && !model.deleteErrorMessage && !model.updateStatusMessage">TODO Items:</p>
      <p *ngIf="model.addSuccessMessage" class="alert alert-success">TODO Item {{ model.addSuccessMessage }} added successfully</p>
      <p *ngIf="model.updateSuccessMessage" class="alert alert-success">TODO Item {{ model.updateSuccessMessage }} updated successfully</p>
      <p *ngIf="model.deleteSuccessMessage" class="alert alert-success">TODO Item {{ model.deleteSuccessMessage }} deleted successfully</p>
      <p *ngIf="model.addErrorMessage" class="alert alert-danger">Error occurred during adding TODO Item {{ model.addErrorMessage }}</p>
      <p *ngIf="model.updateErrorMessage" class="alert alert-danger">Error occurred during updating TODO Item {{ model.updateErrorMessage }}</p>
      <p *ngIf="model.deleteErrorMessage" class="alert alert-danger">Error occurred during deleting TODO Item {{ model.deleteErrorMessage }}</p>
      <p *ngIf="model.updateStatusMessage" class="alert alert-danger">{{ model.updateStatusMessage }}</p>
  </div>
</div>
<div class="row">
  <app-todo-item [ngStyle]="{ 'background' : (editItem === itemEl) ? ' #d35400' : 'white', display: 'block'}"
    *ngFor="let itemEl of items" 
    [item]="itemEl" (click)="onEditItem(itemEl)"></app-todo-item>
</div>

