<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-6 form-group">
            <label for="name">Name</label> 
            <input type="text" class="form-control" id="name" name="name" 
              [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required/>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback alert alert-danger">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">{{ editTask ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="deleteTask()" *ngIf="editTask">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clearSelection()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>   
<hr>
<div class="row">
  <div class="col-xs-12">
      <p *ngIf="!model.addSuccessMessage && !model.updateSuccessMessage && !model.deleteSuccessMessage 
            && !model.addErrorMessage && !model.updateErrorMessage && !model.deleteErrorMessage">Task List:</p>
      <p *ngIf="model.addSuccessMessage" class="alert alert-success">Task {{ model.addSuccessMessage }} added successfully</p>
      <p *ngIf="model.updateSuccessMessage" class="alert alert-success">Task {{ model.updateSuccessMessage }} updated successfully</p>
      <p *ngIf="model.deleteSuccessMessage" class="alert alert-success">Task {{ model.deleteSuccessMessage }} deleted successfully</p>
      <p *ngIf="model.addErrorMessage" class="alert alert-danger">Error occurred during adding task {{ model.addErrorMessage }}</p>
      <p *ngIf="model.updateErrorMessage" class="alert alert-danger">Error occurred during updating task {{ model.updateErrorMessage }}</p>
      <p *ngIf="model.deleteErrorMessage" class="alert alert-danger">Error occurred during deleting task {{ model.deleteErrorMessage }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-task-item [ngStyle]="{ 'background' : (editTask === taskEl) ? ' #d35400' : 'white', display: 'block'}"
      *ngFor="let taskEl of tasks"
      [task]="taskEl" (click)="edit(taskEl)"></app-task-item>
  </div>
</div>