<a style="background-color: transparent"
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="row">
    <div class="list-group-item-heading col-sm-2">
      <p class="text-center">{{ item.name }}</p>
    </div>
    <div class="list-group-item-text col-sm-3">
        <p class="text-center">{{ item.deadline |  date: 'dd.MM.yyyy' }}</p>
    </div>
    <div class="list-group-item-text col-sm-4">
        <p class="text-center">{{ item.description }}</p>
    </div>
    <div class="list-group-item-text col-sm-1">
        <p *ngIf="item.status" class="text-center">Complete</p>
        <p *ngIf="!item.status" class="text-center">Incomplete</p>
    </div>
    <div class="list-group-item-text col-sm-2">
        <p class="text-center">{{ dependentItem.name }} </p>
    </div>
  </div>
</a>