<div class="row">
  <div class="col-sm-5 form-group">
    <label for="name">Name</label>
    <input type="text"
           name="name"
           class="form-control"
           #nameInput/>
    <button class="btn btn-primary" type="submit" (click)="onAddNewList">Add a new TO-DO List</button>
  </div>
  <div class="col-sm-7 form-group">
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <app-list 
      *ngFor="let listEl of lists"
      [list]="listEl"
      (listSelected)="onListSelected(listEl)">
    </app-list>
  </div>
  <div class="col-md-7">
    <app-list-items
      *ngIf="selectedList; else infoText"
      [list]="selectedList"></app-list-items>
    <ng-template #infoText>
      <p>Please select a List!</p>
    </ng-template>
  </div>
